# .coveragerc to control coverage.py
[run]
branch = True
source = groove
include = ./groove*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

ignore_errors = True
